@import url("common.css");

img {
  display: block;
  width: 350px;
  height: 350px;
  margin-top: 20px !important;
}

.col-md-8 {
  padding-left: 0;
}

p {
  font-size: 1.3em;
}

em {
  font-style: normal;
  font-weight: bold;
}

.follow {
  margin-top: 5em;
}
