@import url("common.css");

.benefits {
  margin-top: 2em;
}

.benefits img {
  display: block;
  width: 250px;
  height: 150px;
}

.testimonials img {
  display: block;
  margin: auto;
}

.testimonials blockquote {
  color: black !important;
  border-bottom: none !important;
  font-size: 14px;
}

.testimonials blockquote p {
  border: none;
  background: none;
}

.testimonials blockquote a[href^="http"] {
  background: none !important;
}

.recommended img {
  margin: 0.5em;
}
