[Desktop Entry]
Name=add-GNOME-bookmarks
GenericName=add GTK bookmarks to some directories
Comment=display some directories in Places and GtkFileChooser
Exec=/usr/local/lib/add-GNOME-bookmarks
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-add-GNOME-bookmarks;
