[Desktop Entry]
Name=tails-add-bookmark-for-persistent-directories
GenericName=add GTK bookmark to persistent directories
Comment=display some persistent directories in Places and GtkFileChooser
Exec=/usr/local/bin/tails-add-bookmark-for-persistent-directories
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-add-bookmark-for-persistent-directories;
