[Desktop Entry]
Name=create-tor-browser-files-directories
GenericName=Create the Tor Browser files directories
Comment=Create the Tor Browser files amnesiac and persistent directories
Exec=/usr/local/lib/create-tor-browser-files-directories
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-create-tor-browser-files-directories;
