[Desktop Entry]
Name=create-tor-browser-directories
GenericName=Create the Tor Browser directories
Comment=Create the Tor Browser amnesiac and persistent directories
Exec=/usr/local/lib/create-tor-browser-directories
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-create-tor-browser-directories;
