[Desktop Entry]
Name=automatically trust desktop icons
GenericName=Make the desktop icons launchable
Version=1.0
Exec=/bin/sh -c "for desktop_file in Report_an_error tails-documentation; do path=$HOME/Desktop/\${desktop_file}.desktop; gio set \$path metadata::trusted true && touch \$path; done"
Terminal=false
Type=Application
Categories=
