[Desktop Entry]
Name=gpgSymEncApplet
GenericName=Applet for OpenGPG text encryption
Version=1.0
Exec=/usr/bin/torsocks /usr/local/bin/gpgApplet
Terminal=false
Type=Application
Categories=Application;Utility;Security
