[Desktop Entry]
Name=tails-save-im-environment
GenericName=save Desktop IM environment
Comment=save Desktop IM environment so that Tor Browser can use it
Exec=/usr/local/bin/tails-save-im-environment
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-save-im-environment;
