[Desktop Entry]
Name=tails-update-frontend
GenericName=check available Tails updates
Comment=check available Tails updates
Exec=/usr/local/bin/tails-update-frontend-wrapper
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-update-frontend;
