[Desktop Entry]
Name=tails-warn-about-persistence-migration
GenericName=Warn when unmigrated persistence settings are left
Version=1.0
Exec=/usr/local/bin/tails-warn-about-persistence-migration
Terminal=false
Type=Application
NoDisplay=true
Categories=Application;Utility
