[Desktop Entry]
Name=tails-upgrade-frontend
GenericName=check available Tails upgrades
Comment=check available Tails upgrades
Exec=/usr/local/bin/tails-upgrade-frontend-wrapper
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-upgrade-frontend;
