[Desktop Entry]
Name=tails-configure-keyboard
GenericName=configure the keyboard layout
Comment=configure the keyboard layout according to settings chosen in Tails Greeter
Exec=/usr/local/bin/tails-configure-keyboard
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-configure-keyboard;
