[Desktop Entry]
Name=tails-warn-about-disabled-persistence
GenericName=Warn when unmigrated or insecure persistence settings are found
Version=1.0
Exec=/usr/local/bin/tails-warn-about-disabled-persistence
Terminal=false
Type=Application
NoDisplay=true
Categories=Application;Utility
