[Desktop Entry]
Name=tails-htp-notify-user
GenericName=notify user of time synchronization process
Comment=notify user of time synchronization process
Exec=/usr/local/bin/tails-htp-notify-user
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-htp-notify-user;
