# Note: ATTR{type}=="1" means ethernet (ARPHDR_ETHER, see linux'
# sources, beginning of include/linux/if_arp.h)
SUBSYSTEM=="net", ACTION=="add", ATTR{type}=="1", RUN+="/usr/local/sbin/tails-spoof-mac $name"
