SUBSYSTEM!="block", GOTO="bilibop_end"
ACTION!="add|change", GOTO="bilibop_end"
KERNEL!="sd?*|mmcblk?*|mspblk?*", GOTO="bilibop_end"

SUBSYSTEMS=="usb|firewire|memstick|mmc", \
	PROGRAM=="/lib/bilibop/test $tempnode", \
	ENV{UDISKS_SYSTEM_INTERNAL}:="1", \
	GROUP:="disk", \
	GOTO="bilibop_disk"

GOTO="bilibop_end"
LABEL="bilibop_disk"

KERNEL=="sd?|mmcblk?|mspblk?", \
	ENV{ID_DRIVE_DETACHABLE}:="0", \
	SYMLINK+="TailsBootDev"

LABEL="bilibop_end"
