# This is essentially borrowed from /lib/udev/rules.d/91-permissions.rules
# in order to workaround #8273.
SUBSYSTEM=="block", SUBSYSTEMS=="usb|ieee1394|mmc|pcmcia", GROUP="floppy"
