<!DOCTYPE html>

<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tails - popup.es</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" href="../favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="../style.css" type="text/css" />

<link rel="stylesheet" href="../local.css" type="text/css" />


<script src="../lib/js/mirror-dispatcher.js" type="text/javascript"></script>









</head>


<body class="en">


<div class="searchform">



</div>

<div class="banner" role="banner">
  <a class="tails" href="../index.en.html">
    <span class="acronym">Tails</span><br/>
    <span class="slogan">The Amnesic Incognito Live System</span>
  </a>
</div>

<div class="page">

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">
<ul id="crumbs">
<li><a href="../index.en.html"><img src="../lib/home.png"></a></li>







<li><a href="../templates.html">templates</a></li>




<li>popup.es</li>

</ul>
</span>
<span class="title">
popup.es
</span>
</span>
</div>










</div>



<div class="sidebar" role="navigation">
<div class="download button">
  <a href="../install.en.html"><span class="download">Install</span>
    <span class="tails">Tails 
3.9
</span>
    <span class="date">
2018-09-05</span></a>
</div>




<div class="links">
  <ul>
    <li><a href="../about.en.html">About</a></li>
    <li><a href="../getting_started.en.html">Getting started…</a></li>
    <li><a href="../doc.en.html">Documentation</a></li>
    <li><a href="../support.en.html">Help &amp; Support</a></li>
    <li><a href="../contribute.en.html">Contribute</a></li>
    <li><a href="../news.en.html">News</a></li>
  </ul>
</div>




<div class="donate button">
    <a href="https://tails.boum.org/donate?r=sidebar">Donate</a>
</div>


</div>



<div id="pagebody">

<div id="content" role="main">
# Spanish translation of basewiki/templates/popup page for ikiwiki.
# Copyright (C) 2009 Free Software Foundation, Inc.
# This file is distributed under the same license as the ikiwiki package.
# Fernando González de Requena , 2009.
#
msgid ""
msgstr ""
"Project-Id-Version: ikiwiki\n"
"POT-Creation-Date: 2010-07-18 22:29+0000\n"
"PO-Revision-Date: 2009-08-17 14:06+0200\n"
"Last-Translator: Fernando González de Requena \n"
"Language-Team: None\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: KBabel 1.11.4\n"

#. type: Plain text
#, fuzzy, no-wrap
#| msgid ""
#| "\n"
#| "Use this template to create a popup window that is displayed when the mouse\n"
#| "is over part of the page. This template has two parameters:\n"
#| "<ul>\n"
#| "<li>`mouseover` - This is the text or other content that triggers the\n"
#| "popup.\n"
#| "<li>`popup` - This should be the content of the popup window. It can be\n"
#| "anything, even images or a whole little wiki page, but should not be too\n"
#| "large for good usability.\n"
#| "</ul>\n"
#| "Note that browsers that do not support the CSS will display the popup\n"
#| "inline in the page, inside square brackets.\n"
#| "\n"
#| "<span class="\&quot;popup\&quot;">\n"
#| "<span class="\&quot;paren\&quot;">[</span><span class="\&quot;balloon\&quot;"></span><span class="\&quot;paren\&quot;">]</span>\n"
#| "</span>\n"
msgid ""
"\n"
"Use this template to create a popup window that is displayed when the mouse\n"
"is over part of the page. This template has two parameters:\n"
"<ul>\n"
"<li>`mouseover` - This is the text or other content that triggers the\n"
"popup.\n"
"<li>`popup` - This should be the content of the popup window. It can be\n"
"anything, even images or a whole little wiki page, but should not be too\n"
"large for good usability.\n"
"</ul>\n"
"Note that browsers that do not support the CSS will display the popup\n"
"inline in the page, inside square brackets.\n"
"\n"
"<span class="\&quot;popup\&quot;">\n"
"<span class="\&quot;paren\&quot;">[</span><span class="\&quot;balloon\&quot;"></span><span class="\&quot;paren\&quot;">]</span>\n"
"</span>\n"
msgstr ""
"\n"
"Utilice esta plantilla para crear una ventana emergente que se mostrará cuando\n"
"el ratón esté encima de una parte de la página. Esta plantilla tiene dos parámetros:\n"
"<ul>\n"
"<li>`mouseover` - Éste es el texto, u otro contenido, que activa la ventana\n"
"emergente.\n"
"<li>`popup` - Éste debería ser el contenido de la ventana emergente. Puede ser\n"
"cualquier cosa, incluso imágenes o una pequeña página wiki completa, pero no\n"
"debe ser demasiado grande para favorecer una buena usabilidad.\n"
"</ul>\n"
"Tenga en cuenta que los navegadores que no sean compatibles con el CSS mostrarán\n"
"la ventana emergente como parte de la página, dentro de corchetes.\n"
"\n"
"<span class="\&quot;popup\&quot;">\n"
"<span class="\&quot;paren\&quot;">[</span><span class="\&quot;balloon\&quot;"></span><span class="\&quot;paren\&quot;">]</span>\n"
"</span>\n"

</div>







</div>

<div id="footer" class="pagefooter" role="contentinfo">

<div id="pageinfo">












</div>
<div id="mirrorlist">Mirror: <a href="https://tails.boum.org/ikiwiki.cgi?do=goto&page=templates/popup.es">tails.boum.org</a></div>

<!-- from The Amnesic Incognito Live System -->
</div>

</div>

<script type="text/javascript">
  var linkelements = document.querySelectorAll('.use-mirror-pool');
  if(linkelements.length > 0) {
    replaceUrlPrefixWithRandomMirror(linkelements);
  }
</script>

</body>
</html>
