[Desktop Entry]
Encoding=UTF-8
Name=Duplicate Tails USB Drive
Comment=Launch DirSyncPro
Exec=gnome-terminal -e "sudo /home/amnesia/Persistent/.duplicate.bash 2>/dev/null"
Icon=media-removable
Type=Application
GenericName[en_US.UTF-8]=Duplicate Entire USB Drive
Comment[en_US.UTF-8]=
