<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Tails</vendor>
  <vendor_url>http://tails.boum.org/</vendor_url>

  <action id="org.boum.tails.additional-software.remove">
    <description>Remove an additional software package</description>
    <message>Authentication is required to remove a package from your additional software ($(command_line))</message>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/sbin/tails-additional-software-remove</annotate>
  </action>

</policyconfig>
