<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Tails</vendor>
  <vendor_url>http://tails.boum.org/</vendor_url>

  <action id="org.boum.tails.additional-software.remove">
    <description>Remove an additional software package</description>
    <description xml:lang="bn_BD">একটি অতিরিক্ত সফটওয়্যার প্যাকেজ অপসারণ করুন</description>
    <description xml:lang="ca">Elimineu un paquet de programari addicional</description>
    <description xml:lang="da">Fjern en pakke med yderligere software</description>
    <description xml:lang="de">Entfernen Sie ein zusätzliches Software-Paket</description>
    <description xml:lang="el">Αφαίρεση πρόσθετου πακέτου λογισμικού</description>
    <description xml:lang="es">Retirar un paquete de software adicional</description>
    <description xml:lang="es_AR">Remover un programa adicional</description>
    <description xml:lang="ga">Bain ceann de na bogearraí breise atá agat</description>
    <description xml:lang="he">הסר חבילה של תוכנה נוספת</description>
    <description xml:lang="it">Rimuovi un pacchetto di software aggiuntivo</description>
    <description xml:lang="pt_BR">Remover um pacote de software adicional</description>
    <description xml:lang="tr">Bir ek yazılım paketini kaldır</description>
    <message>Authentication is required to remove a package from your additional software ($(command_line))</message>
    <message xml:lang="bn_BD">আপনার অতিরিক্ত সফ্টওয়্যার থেকে একটি প্যাকেজ অপসারণ করতে প্রত্যয়ন আবশ্যক ($(command_line))</message>
    <message xml:lang="ca">Es necessita l'autenticació per eliminar un paquet del programari addicional ($ (command_line))</message>
    <message xml:lang="da">Der kræves autentifikation for at fjerne en pakke fra dine yderligere software ($(command_line))</message>
    <message xml:lang="de">Authentifizierung wird benötigt, um ein Paket von Ihrer zusätzlichen Software-Liste zu entfernen ($(command_line))</message>
    <message xml:lang="el">Απαιτείται ταυτοποίηση για την απομάκρυνση ενός πακέτου από το πρόσθετο λογισμικό σας ($(command_line))</message>
    <message xml:lang="es">Se requiere autenticación para quitar un paquete de su software adicional ($ (command_line))</message>
    <message xml:lang="es_AR">Se requiere autenticación para remover un paquete de tus programas adicionales ($(command_line))</message>
    <message xml:lang="ga">Caithfidh tú d'fhocal faire a thabhairt chun pacáiste de na bogearraí breise a bhaint ($(command_line))</message>
    <message xml:lang="he">אימות נדרש כדי להסיר חבילה מתוך תוכנה נוספת שלך ($(command_line))</message>
    <message xml:lang="it">È richiesta l'autenticazione per rimuovere un pacchetto dai tuoi software aggiuntivi ($(command_line))</message>
    <message xml:lang="pt_BR">Autenticação é necessária para remover um pacote de seus softwares adicionais ($(command_line))</message>
    <message xml:lang="tr">Ek yazılımlarınızdan bir paket kaldırmak için kimlik doğrulaması gerekir ($(command_line))</message>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/sbin/tails-additional-software-remove</annotate>
  </action>

</policyconfig>