@media print {
  .banner {
    display: none;
  }
}

body {
  color: black;
}

.parentlinks, span.title, .sidebar, .searchform, .pagefooter {
  display: none;
}

.banner {
  background: #56347c url(../../contribute/how/promote/material/logo/tails-logo-flat-inverted-notagline.svg) no-repeat 0px -15px;
  background-size: 30%;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  height: 2em;
  margin-top: 2em;
}

.col-md-8, .col-md-4 {
  padding-left: 0;
  padding-right: 30px;
}
