/*.img
/*.iso
/*.list
/*.packages
/binary
/cache
/chroot/
/config/amnesia.local
/config/binary
/config/bootstrap
/config/chroot
/config/common
/config/source
/config/binary_local-includes/doc/amnesia/wiki
/config/chroot_local-includes/usr/share/doc/Changelog
/config/chroot_local-includes/etc/amnesia/version
/.stage
/source
