[submodule "submodules/pythonlib"]
	path = submodules/pythonlib
	url = https://git-tails.immerda.ch/pythonlib
[submodule "submodules/jenkins-tools"]
	path = submodules/jenkins-tools
	url = https://git-tails.immerda.ch/jenkins-tools
[submodule "submodules/chutney"]
	path = submodules/chutney
	url = https://git-tails.immerda.ch/chutney
	branch = feature/tails_test_suite
[submodule "submodules/mirror-pool-dispatcher"]
	path = submodules/mirror-pool-dispatcher
	url = https://git-tails.immerda.ch/mirror-pool-dispatcher
[submodule "submodules/aufs4-standalone"]
	path = submodules/aufs4-standalone
	url = https://github.com/sfjro/aufs4-standalone.git
