[submodule "submodules/jenkins-tools"]
	path = submodules/jenkins-tools
	url = https://gitlab.tails.boum.org/tails/jenkins-tools.git
[submodule "submodules/chutney"]
	path = submodules/chutney
	url = https://gitlab.tails.boum.org/tails/chutney.git
	branch = feature/tails_test_suite
[submodule "submodules/mirror-pool-dispatcher"]
	path = submodules/mirror-pool-dispatcher
	url = https://gitlab.tails.boum.org/tails/mirror-pool-dispatcher.git
[submodule "submodules/tails-workarounds"]
	path = submodules/tails-workarounds
	url = https://gitlab.tails.boum.org/tails/workarounds.git
