# Don't follow source'd scripts
disable=SC1090
disable=SC1091

# dash supports 'local'
disable=SC2039

# Let's accept we are doing weird things with arrays & strings, for now
disable=SC2124

# We use "set -e" about everywhere
disable=SC2164
