# US locale and keyboard
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us

# Network is configured through DHCP
d-i netcfg/choose_interface select auto
d-i netcfg/get_domain string vagrantup.com

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string

# Use http.us.debian.org to select closest mirror
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Set clock to UTC
d-i clock-setup/utc boolean true
d-i time/zone string UTC
d-i clock-setup/ntp boolean true

# Use LVM and all available disk space
d-i partman-auto/method string lvm
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Create a sudoer 'vagrant' account
d-i passwd/root-login boolean false
d-i passwd/root-password password vagrant
d-i passwd/root-password-again password vagrant
d-i passwd/user-fullname string Vagrant User
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i passwd/user-default-groups string audio cdrom video admin

# Do not select any tasks
tasksel tasksel/first multiselect

# We need contrib for virtualbox-guest-utils
d-i apt-setup/contrib boolean true

# Individual additional packages to install
d-i pkgsel/include string \
  acpid \
  bzip2 \
  curl \
  ntp \
  openssh-server \
  rsync \
  sudo \
  virtualbox-guest-utils

# No need for an extra upgrade: it is a full net install
d-i pkgsel/upgrade select none

# No need to participate in popcon
popularity-contest popularity-contest/participate boolean false

# Install bootloader
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev  string default

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note
d-i preseed/early_command string sed -i \
  '/in-target/idiscover(){/sbin/discover|grep -v VirtualBox;}' \
  /usr/lib/pre-pkgsel.d/20install-hwpackages
