[Desktop Entry]
Type=Application
Name=Configure persistent volume
Name[fr]=Configurer le stockage persistant
Name[sv]=Konfigurera bestående lagring
Comment=Configure which files and application configuration are saved between working sessions
Comment[fr]=Configurer quelles données, et la configuration de quelles applications, sont conservées d'un démarrage à l'autre
Comment[sv]=Välj vilka filer och programinställningar som ska sparas mellan omstarter av systemet
Icon=tails-persistence-setup.png
Exec=tails-persistence-setup
Terminal=false
Categories=System;Tails;
StartupNotify=false
