.page {
	max-width: 678px; /* 930px (page width) - 14px*18em (sidebar width) */
}

.banner, .parentlinks, .sidebar, #footer {
	display: none;
}

span.title {
	color: #aa0000;
	background: no-repeat 50% 32px url(tor-off.png);
	padding-top: 160px;
	margin-top: 0;
	margin-bottom: 1em;
	border-left: 0px none;
	text-align: center;
}

.pageheader #otherlanguages {
	top: 10px;
}

#content {
	margin-top: 1.5em;
	padding-bottom: 0.5em;
}
