/* Hide donate button */

#search-and-donate .donate {
    display: none;
}

/* Position banner */

#donate-banner {
    position: relative;
    margin: 0 auto;
    max-width: 986px;
    padding: 1em 2em;
    display: block;
    font-family: "Source Sans Pro Regular", sans-serif;
    background-color: white;
}

/* Hide all translations of the banner by default */

body .donate-de,
body .donate-es,
body .donate-fa,
body .donate-fr,
body .donate-it,
body .donate-pt {
    display: none;
}

/* Hide the English banner for all other languages

   This way, the English banner is still displayed when the PO plugin is
   disabled. This is useful for development.
   */

body.de .donate-en,
body.es .donate-en,
body.fa .donate-en,
body.fr .donate-en,
body.it .donate-en,
body.pt .donate-en {
    display: none;
}

/* Show the banner corresponding to the current language */

body.de .donate-de,
body.es .donate-es,
body.fa .donate-fa,
body.fr .donate-fr,
body.it .donate-it,
body.pt .donate-pt {
    display: block !important;
}

/* Style for 2020 */

#donate-banner {
    background-color: #ffd500;
    background-image: url(banner/godzilla.svg), url(banner/city.svg);
    background-repeat: no-repeat;
    background-size: 450px, 250px;
    background-position: -80px -70px, right bottom;
    padding-left: 200px;
}

#donate-banner p {
    margin: 0;
    font-size: 20px;
    color: black;
}

#donate-banner .first {
    margin-bottom: 0.2em;
}

#donate-banner .second {
    font-weight: bold;
}

#donate-banner .second u {
    text-decoration: none;
    border-bottom: 2px solid black;
}

@media (max-width: 986px) {
#donate-banner {
    background-size: 330px, 175px;
    background-position: -60px -40px, right bottom;
    padding-left: 150px;
}
#donate-banner p {
    font-size: 16px;
    margin-bottom: 10px;
}
}

@media (max-width: 300px) {
#donate-banner {
    background-size: 210px, 175px;
    background-position: -30px bottom, right bottom;
    padding-left: 100px;
}
}
