#container {
  display: flex;
  flex-wrap: wrap;
}

#image {
  height: 300px;
  width: 300px;
  background: #ccc;
  margin-right: 25px;
  margin-bottom: 25px;
}

#form {
  max-width: 450px;
}

textarea {
  min-width: 400px;
  width: 50%;
  height: 100px;
}
