.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonials .quote, .testimonials .logos {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .testimonials .quote br {
    display: none;
  }
}

@media (min-width: 768px) {
  .testimonials {
    justify-content: space-between;
  }
  .testimonials .quote {
    width: 30%;
  }
}

.testimonials .logos {
  display: flex;
  flex: wrap;
  flex-direction: column;
}

.testimonials .logos a {
  margin-top: 1em;
}

@media (min-width: 480px) {
  .testimonials .logos {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}

.testimonials img {
  display: block;
  margin: auto;
}

.testimonials blockquote {
  color: black !important;
  border-bottom: none !important;
  font-size: 14px;
  margin: 0;
  border-left: 5px solid #eee;
  padding: 10px 20px;
}

.testimonials blockquote p {
  border: none;
  background: none;
}

.testimonials a {
  background: none !important;
  color: black !important;
  border: none !important;
}
