#smiley {
  float: left;
  height: 10em;
  margin-right: 2em;
  padding-top: 1em;
}

#text {
  display: block;
}

#pagebody a.tweet {
  display: block;
  font-size: 18px;
  font-style: italic;
  text-decoration: none !important;
  color: #56347c !important;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 2em 0;
  width: 65%;
  padding: 0.5em 1em;
  display: block;
  background: url(thanks/twitter.png) no-repeat right 10px bottom 10px;
}
