@import url("columns.css");

#greetings {
  font-size: 2em;
}

#smiley {
  float: left;
  height: 10em;
  margin-right: 2em;
  padding-top: 1em;
}

#text {
  display: block;
}

#text a {
  display: inline-block;
}

#pagebody a.tweet {
  display: block;
  font-size: 18px;
  font-style: italic;
  text-decoration: none !important;
  color: #56347c !important;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 2em 0;
  width: 65%;
  padding: 0.5em 1em;
  display: block;
  background: url(thanks/twitter.png) no-repeat right 10px bottom 10px;
}

#testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: url('thanks/world.svg') no-repeat 95% 0;
  padding-top: 50px;
}

.quote {
  width: 350px;
  min-height: 250px;
  position: relative;
}

#mexico {
  background: url(thanks/mexico.svg) no-repeat bottom left;
  padding: 0 0 100px 75px;
}

#pakistan {
  background: url(thanks/pakistan.svg) no-repeat bottom right;
  padding: 0 75px 100px 0;
}

.quote blockquote {
  width: 275px;
  margin: 0;
}

.quote blockquote p {
  padding: 1em;
}

#pakistan blockquote {
  position: absolute;
  bottom: 100px;
}

@media (max-width: 760px) {
#testimonials {
  justify-content: center;
  background: url('thanks/world.svg') no-repeat 10px 0;
  background-size: 100%;
  padding-top: 20%;
}
.quote {
  width: 300px;
}
.quote blockquote {
  width: 225px;
}
#mexico {
  margin-right: 10px;
}
#pakistan {
  margin-top: 125px;
  margin-left: 10px;
}
}
