RewriteRule ^bug_reporting doc/first_steps/report_a_bug [R]
RewriteRule ^build contribute/build [R]
RewriteRule ^chat support/chat [R]
RewriteRule ^features doc/about/features [R]
RewriteRule ^found_a_problem support/found_a_problem [R]
RewriteRule ^git contribute/git [R]
RewriteRule ^GnuPG_key doc/about/openpgp_keys [R]
RewriteRule ^license doc/about/license [R]
RewriteRule ^patch contribute/patch [R]
RewriteRule ^talk-dev contribute/talk [R]
RewriteRule ^talk-users support/talk [R]
RewriteRule ^upgrade doc/upgrade [R]
RewriteRule ^customize contribute/customize [R]
