# /!\ This fine is deprecated! /!\

# The rewrite rules used by our website now live there:
#
#   https://git-tails.immerda.ch/puppet-tails/tree/templates/website/nginx/rewrite_rules.conf.erb
#
# That file documents how to use our rewrite rules locally and how to
# contribute changes.
