RewriteEngine on
RewriteBase /
RewriteRule ^bug_reporting doc/first_steps/report_a_bug [R]
RewriteRule ^build contribute/build [R]
RewriteRule ^bugs/FireGPG_may_be_unsafe doc/encryption_and_privacy/FireGPG_susceptible_to_devastating_attacks [R]
RewriteRule ^chat support/chat [R]
RewriteRule ^features doc/about/features [R]
RewriteRule ^found_a_problem support/found_a_problem [R]
RewriteRule ^git contribute/git [R]
RewriteRule ^GnuPG_key doc/about/openpgp_keys [R]
RewriteRule ^license doc/about/license [R]
RewriteRule ^talk-dev contribute/talk [R]
RewriteRule ^talk-users support/talk [R]
RewriteRule ^upgrade doc/upgrade [R]
RewriteRule ^customize contribute/customize [R]
RewriteRule ^support/truecrypt doc/encryption_and_privacy/truecrypt [R]
RewriteRule ^support/virtualization doc/advanced_topics/virtualization [R]
RewriteRule ^support/walkthrough doc [R]
RewriteRule ^doc/installing_onto_a_usb_stick/linux doc/first_steps/manual_usb_installation/linux [R]
RewriteRule ^doc/installing_onto_a_usb_stick/windows doc/first_steps/manual_usb_installation/windows [R]
RewriteRule ^doc/installing_onto_a_usb_stick/mac doc/first_steps/manual_usb_installation/mac [R]
RewriteRule ^doc/first_steps/bridge_mode doc/first_steps/startup_options/bridge_mode [R]
RewriteRule ^doc/first_steps/windows_theme doc/first_steps/startup_options/windows_camouflage [R]
RewriteRule ^doc/trusting_tails_signing_key doc/get/trusting_tails_signing_key [R]
RewriteRule ^doc/first_steps/report_a_bug doc/first_steps/bug_reporting [R]
RewriteRule ^doc/encryption_and_privacy/your_data_wont_be_saved_unless_explicitely_asked doc/encryption_and_privacy/your_data_wont_be_saved_unless_explicitly_asked [R]
RewriteRule ^doc/encryption_and_privacy/openpgp_passphrase_encryption doc/encryption_and_privacy/gpgapplet/passphrase_encryption [R]
RewriteRule ^doc/encryption_and_privacy/openpgp_with_gedit doc/encryption_and_privacy/gpgapplet/public-key_cryptography [R]
