.sidebar {
  display: none;
}

.parentlinks {
  display: block;
  height: 2.4em;
}

.parentlinks ul {
  display: none;
}

span.title {
  margin-top: 0;
}

#currency .col-md-12, #frequency .col-md-12 {
  margin-bottom: 1em;
  padding: 0;
  border: solid 3px white;
}

#donate-button .col-md-12 {
  margin-top: 1em;
  border: solid 3px white;
}

.tax-deducible {
  font-size: 12px;
  margin-top: 18px;
}

#other-ways {
  margin-top: 10em;
}

.amounts .btn {
  padding-top: 33px;
  height: 95px;
  border: solid 3px white;
}

.amounts .other {
  padding: 13px 4px;
}

.amounts .other .input-group-addon {
  padding: 2px;
}

.amounts .other .form-control {
  padding: 4px;
}

#flattr a {
  padding-right: 0 !important;
  background: none !important;
}
