/* Reset bootstrap */

* {
    -webkit-box-sizing: unset;
    box-sizing: unset;
}

.page * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Reset */

#donate-strip {
    margin: 0 auto;
    max-width: 930px;
    padding: 0 2em;
}

#donate-strip {
    position: relative;
    font-family: "Source Sans Pro Regular", sans-serif;
    background-color: white;
}

body .donate-de,
body .donate-en,
body .donate-fr,
body .donate-pt,
body.de .donate-l,
body.en .donate-l,
body.fr .donate-l,
body.pt .donate-l {
    display: none;
}

body.de .donate-de,
body.en .donate-en,
body.fa .donate-en,
body.fr .donate-fr,
body.it .donate-en,
body.pt .donate-pt {
    display: block !important;
}
