/* Reset bootstrap */

* {
    -webkit-box-sizing: unset;
    box-sizing: unset;
}

.page * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Reset */

@-webkit-keyframes breathinganimation {
    0% { background-color: #53b351;}
    100% { background-color: #ccffaa;}
}
@-moz-keyframes breathinganimation {
    0% { background-color: #53b351;}
    100% { background-color: #ccffaa;}
}
@-o-keyframes breathinganimation {
    0% { background-color: #53b351;}
    100% { background-color: #ccffaa;}
}
@keyframes breathinganimation {
    0% { background-color: #53b351;}
    100% { background-color: #ccffaa;}
}

#donate-strip {
    margin: 0 auto;
    max-width: 930px;
    padding: 0 2em;
}

#donate-strip {
    position: relative;
    font-family: "Source Sans Pro Regular", sans-serif;
    background-color:#53b351;

    -webkit-animation: breathinganimation ease-in-out 15s -2s infinite alternate;
    -moz-animation:    breathinganimation ease-in-out 13s -2s infinite alternate;
    -o-animation:      breathinganimation ease-in-out 15s -2s infinite alternate;
    animation:         breathinganimation ease-in-out 15s -2s infinite alternate;

    background-repeat: no-repeat;
    background-image: url(donate/donate_hand_usb_single.png);
    background-position: left bottom;
    min-height: 100px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s linear;
}

#donate-strip a {
    color: #005509;
    text-decoration: none;
}

#donate-strip strong {
    font-weight: normal;
}

body .donate-de,
body .donate-en,
body .donate-fr,
body .donate-pt,
body.de .donate-l,
body.en .donate-l,
body.fr .donate-l,
body.pt .donate-l {
    display: none;
}

body.de .donate-de,
body.en .donate-en,
body.fa .donate-en,
body.fr .donate-fr,
body.it .donate-en,
body.pt .donate-pt {
    display: block !important;
}

.donate-l .donate-title {
    margin: 0 0 0 135px;
    padding: 1em 0;
    width: 70%;
    box-sizing: border-box;
}

#donate-strip strong {
    display: block;
    font-size: 1.2em;
    line-height: 1.35em;
}

#donate-strip .donate-title-big {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.02em;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s linear;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    margin-top: 0.2em;
    color: #005509;
}

#donate-strip:hover .donate-title-big {
    color: #fff;
}

#donate-strip .donate-slogan {
    display: none;
}

/* <3 Flip background images in RTL languages instead of redefining new ones. */

html[dir="rtl"] #donate-strip {
    transform-origin: center;
    transform: scaleX(-1);
}

html[dir="rtl"] #donate-strip .donate-en {
    transform: scaleX(-1);
}

html[dir="rtl"] .donate-l .donate-title {
    margin: 0 15% 0 0;
}

html[dir="rtl"] #donate-strip .donate-title-big {
    transform: scaleX(1);
}

@media all and (max-width: 479px) {
    #donate-strip {
        background-image: url(donate/donate_hand_usb_single.png);
        background-position: -35px bottom;
    }
    html[dir="rtl"] #donate-strip * {
        transform-origin: unset;
    }
    .donate-l .donate-title {
        margin: 0 1% 0 25%;
        width: 74%;
    }
}

@media all and (min-width: 640px) {
    #donate-strip {
        background-image: url(donate/donate_hand_usb_single.png), url(donate/donate_hand_arrow.png);
        background-position: left bottom, right bottom;
    }
}
@media all and (min-width: 880px) {
    #donate-strip {
        background-image: url(donate/donate_hand_usb_single.png), url(donate/donate_hand_single.png);
    }
    #donate-strip:hover {
        background-image: url(donate/donate_hand_usb_single.png), url(donate/donate_hands.png);
    }
    #donate-strip .donate-slogan {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 1em 1em;
        box-sizing: border-box;
        width: 25%;
        text-align: center;
        -webkit-transition: .1s ease-in-out;
        -moz-transition: .1s ease-in-out;
        transition: .1s linear;
        display: block;
        font-size: 1em;
    }

    html[dir="rtl"] #donate-strip .donate-slogan {
        right: auto;
        left: 0;
        transform-origin: 165%;
    }

    #donate-strip #donate-slogan-off,
    #donate-strip:hover #donate-slogan-on {
        display: none;
    }

    #donate-strip:hover #donate-slogan-off {
        display: block;
        color: #fff;
    }
}
