/* Position banner */
#donate-banner {
    position: relative;
    margin: 0 auto;
    max-width: 986px;
    padding: 1em 2em;
    display: block;
    font-family: "Source Sans Pro Regular", sans-serif;
    background-color: white;
}

/* Hide all translations of the banner by default */
body .donate-de,
body .donate-es,
body .donate-fa,
body .donate-fr,
body .donate-it,
body .donate-pt {
    display: none;
}

/* Hide the English banner for all other languages

   This way, the English banner is still displayed when the PO plugin is
   disabled. This is useful for development
   */
body.de .donate-en,
body.es .donate-en,
body.fa .donate-en,
body.fr .donate-en,
body.it .donate-en,
body.pt .donate-en {
    display: none;
}

/* Show the banner corresponding to the current language */
body.de .donate-de,
body.es .donate-es,
body.fa .donate-fa,
body.fr .donate-fr,
body.it .donate-it,
body.pt .donate-pt {
    display: block !important;
}

/* Counter */

#donate-banner {
  padding-right: 14em;
}

.counter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Align vertically */
  right: 15px;
  width: 200px;
  font-weight: normal;
  text-align: center;
}

/* Place counter belong text on small screens */
@media only screen and (max-width : 700px) {
  #donate-banner {
    padding-right: 2em;
    background: red;
  }

  .counter {
    position: relative;
    top: 0.5em;
    transform: none;
    right: 0;
  }
}

.counter-progress {
  margin-top: 4px;
  height: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
  padding: 3px;
}

.counter-progress-bar {
  height: 100%;
  background: black;
}

/* Hide 'Last updated' by default */
#counter-last-updated {
  display: none;
}

/* Hide 'Last updated' info icon when there is no JS to display 'Last updated' */
#counter-last-updated-info {
  display: none;
}

#counter-last-updated-info {
  position: absolute;
  top: -4px;
  right: 0;
}

#counter-last-updated {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 0.5em;
  width: 300px;
  height: 2.6em;
  top: 1.5em;
  left: -50px;
}

/* Style for 2018 */

#donate-banner {
    background: yellow url(donate-banner/give-love.svg) no-repeat 1.2em;
    background-size: 4.6em;
    color: black;
    padding-left: 7em;
    font-size: 16px;
    font-weight: bold;
}

#donate-banner .first {
    display: inline-block;
    margin-bottom: 0.1em;
}

#donate-banner .second {
    display: inline-block;
    border-bottom: 2px solid black;
}
