/* Tor check */

#content {
  position: relative;
  top: -4em;
}

#tor_check {
  display: block;
  height: 80px;
  margin-bottom: 1em;
}

#tor_check a {
  background: #53b351 url(lib/onion.png) no-repeat 16px 8px !important;
  border-radius: 0.5em;
  padding: 0.5em 2em 0.5em 0.5em;
  color: black !important;
  font-size: 2em;
  position: absolute;
  right: 0;
}

#tor_check a span {
  display: block;
  padding: 15px 60px;
}

/* Random message box */

.random-message {
  display: none;
  overflow: auto;
  margin-bottom: 2em;
  padding: 1em 2em 1em 2em !important;
  background: #eee !important;
  border: 1px solid #ddd !important;
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #ccc;
  color: black !important;
}

.random-message p:last-child {
  margin-bottom: 0;
}

.random-message h2:first-child {
  margin-top: 0;
}

/* Donate outside of campaign */

#donate {
  background: #eee url(lib/give-love.svg) no-repeat top 50% left 1.5em !important;
  background-size: 5em !important;
  padding-left: 8em !important;
  border: 1px solid #ddd !important;
  font-size: 16px;
}

#donate-campaign {
  display: none;
}

.donate-button {
  box-shadow: 1px 1px 5px #ccc;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  background: #53b351;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
}

span.highlight {
  background: yellow;
}

/* Survey message */

.survey {
  background: #b49cd3 url('lib/survey.png') no-repeat top 50% left 2em !important;
  border: none !important;
  padding-left: 9em !important;
  font-size: 16px;
}

.survey .answer {
  background: #53b351;
  color: black !important;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 0.5em 0.25em;
  text-align: center;
  box-shadow: 1px 1px 5px #222;
  width: 100%;
}
