/* "Tor check" button */

#content {
  position: relative;
  top: -4em;
}

#tor_check {
  display: block;
  height: 80px;
  width: 270px;
  margin-bottom: 1em;
}

#tor_check a {
  background: #53b351 !important;
  border-radius: 0.5em;
  padding: 15px;
  color: black !important;
  font-size: 2em;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1em;
}

#tor_check a img {
  margin-right: 15px;
}

/* Random message box */

.random-message {
  display: none;
  overflow: auto;
  margin-bottom: 2em;
  padding: 1em 2em 1em 2em !important;
  background: #eee !important;
  border: 1px solid #ddd !important;
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #ccc;
  color: black !important;
}

.random-message p:last-child {
  margin-bottom: 0;
}

.random-message h2:first-child {
  margin-top: 0;
}

/* Survey message */

.survey {
  background: #b49cd3 url('lib/survey.png') no-repeat top 50% left 2em !important;
  border: none !important;
  padding-left: 9em !important;
  font-size: 16px;
}

.survey .answer {
  background: #53b351;
  color: black !important;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 0.5em 0.25em;
  text-align: center;
  box-shadow: 1px 1px 5px #222;
  width: 100%;
}

/* Donate message outside of the campaign */

#donate {
  background: #eee url(lib/give-love.svg) no-repeat top 50% left 1.5em !important;
  background-size: 5em !important;
  padding-left: 8em !important;
  border: 1px solid #ddd !important;
  font-size: 16px;
}

span.highlight {
  background-color: white;
}

/* Donate message during the campaign */

#donate-campaign {
  background-color: #ffd500;
  background-image: url(donate/banner/godzilla.png);
  background-repeat: no-repeat;
  background-size: 275px;
  background-position: -35px bottom;
  overflow: auto;
  padding: 1em;
  margin-top: -3.5em;
  margin-bottom: 2em;
  width: 68%;
  padding-left: 140px;
}

#donate-campaign p+p {
  margin-bottom: 0;
}

#donate-campaign a {
  color: black !important;
  font-weight: bold;
  border-bottom: 2px solid black !important;
}
