.sidebar .donate {
  display: none;
}

#donation-strip {
  display: none;
}

#donation-banner {
  background: #eee;
  overflow: auto;
  padding: 0.5em;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ddd;
}

span.highlight {
  background: yellow;
}

#donation-banner p {
  margin-bottom: 0.5em;
}

#donation-banner .button a {
  width: 100%;
  display: block;
  -moz-box-shadow: 1px 1px 5px #ccc;
  -webkit-box-shadow: 1px 1px 5px #ccc;
  box-shadow: 1px 1px 5px #ccc;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  background: #56347c url('lib/donate.png') no-repeat scroll 10px 50%;
  font-size: 26px;
  padding-left: 70px;
  line-height: 1em;
  font-weight: normal;
}

#donation-banner .button a:hover {
  background-color: #56347c;
}

#news-subscriptions {
  display: none;
}
