#pagebody {
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", sans-serif;
}

span.title {
  display: none;
}

h3 {
  font-size: 20px;
}

.benefits-1 section, .benefits-2 section, .cfas, .news, .users, .recommended, .partners {
  margin-top: 3em;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero .sentence {
  margin-left: 10px;
}

.hero h1 {
  font-size: 32px;
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", sans-serif;
  margin-top: 19px;
  padding-left: 7px;
}

.hero h1 .hero-tails {
  font-size: 42px;
  font-weight: bold;
  color: #56347c;
  margin-left: -7px;
}

@media (max-width: 480px) {
  .hero .sentence br.optional {
    display: none;
  }
  .hero .sentence {
    width: 420px;
    font-size: 26px;
  }
}

.benefits-1, .benefits-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (min-width: 896px) {
  .benefits-1, .benefits-2 {
    justify-content: space-between;
  }
}

.benefits section {
  width: 100%;
}

@media (min-width: 480px) {
  .benefits section {
    width: 420px;
  }
}

.benefits img {
  width: 100%;
}

.benefits h3 {
  margin-top: 1.5em;
}

.cfas {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .cfas {
    flex-wrap: wrap;
  }
}

.archive {
  display: flex;
  flex-wrap: wrap;
}

.archive .archivepage {
  width: 100%;
}

@media (min-width: 768px) {
  .archive .archivepage {
    width: 33%;
  }
}

.personas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.personas section {
  width: 70%;
}

@media (min-width: 480px) {
  .personas {
    justify-content: space-between;
  }
  .personas section {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .personas section {
    width: 23%;
  }
}

.personas img {
  display: block;
  margin: 2em auto;
}

.benefits p, .personas p {
  font-size: 16px;
}

.persona {
  font-weight: bold;
  color: #56347c;
  display: block;
}
