#benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 650px;
}

.benefit {
  flex-basis: 200px;
  margin-bottom: 1em;
}

.benefit h3 {
  height: 3em;
}

.open-jobs li {
  margin-bottom: 1em;
}
