/* RTL support */

html[dir="rtl"] ol,
html[dir="rtl"] ul {
	margin-left: 0;
	margin-right: 1.5em;
}

html[dir="rtl"] div.trail span.trailarrow {
	position: relative;
}

html[dir="rtl"] div.bug,
html[dir="rtl"] div.caution,
html[dir="rtl"] div.next,
html[dir="rtl"] div.note,
html[dir="rtl"] div.tip,
html[dir="rtl"] div.trophy {
	background-position: right center;
	padding-right: 5em;
	padding-left: 1em;
}

html[dir="rtl"] .sidebar {
       float: left;
       margin-left: 0;
       margin-right: 2em;
}

html[dir="rtl"] .sidebar .download a {
       background-position: 1em 50%;
}

html[dir="rtl"] #tor_check {
	margin-right: 2em;
}

@media all and (min-width: 600px) {
	html[dir="rtl"] #tor_check {
		right: auto;
		left: 2em;
		margin: 0;
	}
}

html[dir="rtl"] .pageheader #otherlanguages {
    left: 0;
    right: auto;
    width: 100%;
}

html[dir="rtl"] #homepage #news, html[dir="rtl"] #page-found_a_problem #bugs, html[dir="rtl"] #page-download #http {
       margin-right: 0;
       margin-left: 2em;
}

html[dir="rtl"] div.contribute-roles-1 {
       margin: 0;
}
