.actions li {
    display: inline;
    padding: .2em .4em;
}

#otherlanguages ul {
	margin: 0;
	padding: 6px;
	list-style-type: none;
}
#otherlanguages li {
	display: inline;
	padding: .2em .4em;
}
.pageheader #otherlanguages {
	border-bottom: 1px solid #000;
}
