/*
.banner, .page {
	box-sizing:content-box;
} 


.details {
	background:rgb(250,250,250);
}


H2 {
	color: black;
	padding: 10px;
	border-bottom:10px solid  black;
}

H3 {
	text-transform: none;
	letter-spacing: normal;
}

.thumbnail {
	text-align: center;
	border:none;
}

#needs .thumbnail {
	border:none;
}

.you_need img {

	width:70%;
}

.step {
}

.step img {
	width:120px;
	height:120px;
}

.restart img {
	width: 70px;
	height: 70px;
}

.step-number {
	font-size: 30px;
	font-weight: 800;
	font-style: italic;
	position: absolute;
	left: 20px;
	top: 0px;
}



.you_need h3, .step h4 {
	font-size: 20px;
	text-transform: none;
}


.step h4 {
	color: darkgray;
}

.you_need .thumbnail  {
	background: rgb(230,250,230);
	background: none;
}

#steps .thumbnail {
	background: none;
}

img {
	width:100%;
}


body {
	font-family: 'Open Sans', sans-serif;
}

.square {
	padding:20px;
}



#pagebody .back {
	border: solid 1px rgb(200,200,200);
	display: inline-block;
	padding: 5px;
	top: -10px;
	position: relative;
	left: -40px;
}


#pagebody .back:hover {
	border: solid 1px rgb(200,200,200);
	background:rgb(200,200,200);
}

#pagebody .back:hover a {
	color: rgb(20,20,20);
}


#pagebody .back a {
	color: rgb(200,200,200);
}


h1 {

	margin-bottom:50px;
}

#pagebody a {
 color: rgb(20,20,20); 
 border-bottom: 0px solid #0a0;
}


#pagebody small, #pagebody small a {
	color: rgb(100,100,100) ;
}


#pagebody small a {
	color: rgb(200,200,200);
}



body {
	background: white;
}

.start {
	width: 400px
}

/*
.panel {
	opacity: 0.8
}

.panel:hover {
	opacity: 0.8
}


.panel:hover .panel-heading {
	background: DarkBlue;
}


.panel:hover .panel-footer {
  background: lightblue;
}


.panel:hover .panel-body {
  background:rgb(240,240,240);
}

*/

.banner {
/*	opacity: 0.7;
	margin-bottom: 20px;
*/}



#content{
	padding-top:20px;
}


.sidebar {
	display: none;
}

.parentlinks {
	display: none;
}

#footer {
	display: none;
}

.title {
	display: none !important;
}


.optionnal {
	background: white;
	border: 1px dashed #ddd;
	opacity: 0.5;
}

.optionnal .step-number {
	font-size: 10px
}

.final {

}


.restart {
	height: 50%;
	padding-bottom: 40px;
	text-align: center;
	border: none;

}

.restart h4 {
	background: darkgrey;
	color:white;
	display: inline-block;
	top: 40px;
	padding: 10px;
	position: relative;

}

.restart img {
	width:50px;
	height: 50px;
	opacity: 0.5;
	position: relative;
	top: 20px;
}

.restart h4 {
	font-size: 15px;
	font-style: italic;
}

#steps h3 {
	margin-left: 30px;
}

#needs{

/*	border-bottom: 5px solid black;
	border-top: 5px solid black;
	background: rgb(240,240,240);
*/
	margin-bottom: 30px;
	color:rgb(40,40,40);
}

.explain {
	color:rgb(40,40,40);
	font-size: 18px;
}*/