.amount-range {
    clear: both;
    font-size: 0.9em;
    font-weight: bold;
    color: #bbb;
    overflow: hidden;
    text-align: left;
    line-height: 1.4em;
    margin-right: 2em;
    margin-top: 1em;
}

.past {
    overflow: hidden;
}

.sponsor {
    display: inline-block;
    margin: 1em 2.5em 2em 0;
    vertical-align: middle;
    min-height: 3.5em;
}

.sponsor a {
    background-image: none !important;
    padding-right: 0 !important;
    text-decoration: none;
    border: none !important;
}

.past .sponsor {
    margin-right: 1em;
    margin-bottom: 1em;
}

.sponsor img {
    margin-bottom: 1em !important;
    -ms-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    max-width: 100%;
    height: auto;
}
.sponsor:hover img {
    opacity: 0.8;
}

.past img {
    -ms-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.4;
    height: 60px;
    width: auto;
}

.past .sponsor:hover img {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}
@media all and (min-width: 600px) {
    .amount-range {
        float: left;
        clear: left;
        width: 120px;
    }
    .current {
        margin-left: 120px;
    }
}

