.banner, .parentlinks, .topbar, #footer {
	display: none;
}

span.title {
	color: #aa0000;
	background: no-repeat 50% 32px url(unsafe_browser_warning/tor-off.png);
	padding-top: 160px;
	margin-top: 0;
	margin-bottom: 1em;
	border-left: 0px none;
	text-align: center;
}
