[Desktop Entry]
Encoding=UTF-8
Name=Kvkbd
Exec=/home/amnesia/bin/kvkbd-hidden
Icon=kvkbd
Type=Application
Comment=A virtual keyboard for KDE
GenericName=Virtual Keyboard
GenericName[fr]=Clavier Virtuel
Categories=Qt;KDE;Utility;
Terminal=false

