[Desktop Entry]
Name=localize
GenericName=localize software
Comment=configure software depending on current locale
Exec=/usr/local/bin/autostart-localize
Terminal=false
Type=Application
Categories=GNOME;Accessibility;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-localize;
