[Desktop Entry]
Name=amnesia-security-check
GenericName=check amnesia known security issues
Comment=check amnesia known security issues
Exec=/usr/local/bin/amnesia-security-check
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-amnesia-security-check;
