[Desktop Entry]
Name=TorK
GenericName=Anonymity Manager
Comment=An Anonymity Manager for KDE
Type=Application
Categories=Qt;KDE;Network;FileTransfer
Terminal=false
Icon=tork
Exec=/usr/local/bin/tork-hidden
X-DCOP-ServiceType=Unique
