[Desktop Entry]
Version=1.0
Name=Vidalia
GenericName=GUI controller for Tor Onion Routing Network 
Comment=GUI controller for Tor Onion Routing Network
Exec=/usr/bin/vidalia
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/vidalia.xpm
Categories=Network;Qt;Security;
