Hi, Trusted Reproducer!

You signed up for reproducing Tails ${VERSION}. The deadline for doing
so is ${DEADLINE}.

Here are the inputs:

    DIST=${DIST}
    IUK_CHECKOUT_TAG=${IUK_CHECKOUT_TAG}
    IUK_SOURCE_VERSIONS=${IUK_SOURCE_VERSIONS}
    TAG=${TAG}
    TAG_COMMIT=${TAG_COMMIT}
    VERSION=${VERSION}

Attached you will find SHA512SUMS.txt containing all needed hashes.

Check out the ${TAG} tag in Tails' Git repo and read the instructions
from:

    wiki/src/contribute/release_process/test/reproducibility/verification.mdwn

or if you build the website:

    config/chroot_local-includes/usr/share/doc/tails/website/contribute/release_process/test/reproducibility/verification.html

Good luck and have fun!
