#torbutton-button {
  list-style-image: url("chrome://torbutton/skin/tor-24.png");
}
#torbutton-button[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-24.png");
}
#torbutton-button[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-24.png");
}
toolbar[iconsize="small"] #torbutton-button {
  list-style-image: url("chrome://torbutton/skin/tor-16.png");
}
toolbar[iconsize="small"] #torbutton-button[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-16.png");
}
toolbar[iconsize="small"] #torbutton-button[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-16.png");
}

#torbutton-panel {
  list-style-image: url("chrome://torbutton/skin/tor-16.png");
}
#torbutton-panel[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-16.png");
}
#torbutton-panel[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-16.png");
}
toolbar[iconsize="small"] #torbutton-panel {
  list-style-image: url("chrome://torbutton/skin/tor-16.png");
}
toolbar[iconsize="small"] #torbutton-panel[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-16.png");
}
toolbar[iconsize="small"] #torbutton-panel[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-16.png");
}

#torbutton-button-tb {
  list-style-image: url("chrome://torbutton/skin/tor-24.png");
}
#torbutton-button-tb[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-24.png");
}
#torbutton-button-tb[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-24.png");
}
toolbar[iconsize="small"] #torbutton-button-tb {
  list-style-image: url("chrome://torbutton/skin/tor-16.png");
}
toolbar[iconsize="small"] #torbutton-button-tb[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-16.png");
}
toolbar[iconsize="small"] #torbutton-button-tb[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-16.png");
}

#torbutton-button-tb-msg {
  list-style-image: url("chrome://torbutton/skin/tor-24.png");
}
#torbutton-button-tb-msg[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-24.png");
}
#torbutton-button-tb-msg[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-24.png");
}
toolbar[iconsize="small"] #torbutton-button-tb-msg {
  list-style-image: url("chrome://torbutton/skin/tor-16.png");
}
toolbar[iconsize="small"] #torbutton-button-tb-msg[tbstatus="on"] {
  list-style-image: url("chrome://torbutton/skin/tor-enabled-16.png");
}
toolbar[iconsize="small"] #torbutton-button-tb-msg[tbstatus="off"] {
  list-style-image: url("chrome://torbutton/skin/tor-disabled-16.png");
}

statusbarpanel#plugins-status {
     list-style-image: url("chrome://torbutton/skin/punknown.png");
}

statusbarpanel#plugins-status[status="1"] {
    list-style-image: url("chrome://torbutton/skin/p.png");
}

statusbarpanel#plugins-status[status="0"] {
    list-style-image: url("chrome://torbutton/skin/poff.png");
}

