<TMPL_IF FIRST>

<table class="forum-posts">

<thead>
  <tr>
    <td class="forum-post-title">Thread</td>
    <td class="forum-post-numcomments">Replies</td>
    <td class="forum-post-updated">Updated</td>
    <td class="forum-post-published">Started</td>
  </tr>
</thead>

</TMPL_IF>

<tr class="forum-post">

<td class="forum-post-title">
<TMPL_IF NAME="PERMALINK">
<a href="<TMPL_VAR PERMALINK>"><TMPL_VAR TITLE></a>
<TMPL_ELSE>
<a href="<TMPL_VAR PAGEURL>"><TMPL_VAR TITLE></a>
</TMPL_IF>
</td>

<td class="forum-post-numcomments">
  <TMPL_VAR COMMENTSLINK>
</td>

<td class="forum-post-updated">
  <TMPL_VAR MTIME>
</td>

<td class="forum-post-published">
  <TMPL_VAR CTIME>
</td>

</tr> <!-- .forum-post -->

<TMPL_IF LAST>
</table>
</TMPL_IF>
