<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Tails News - <TMPL_VAR TITLE></title>

<div class="banner" role="banner">
  <a class="tails" href="<TMPL_VAR HOMEPAGEURL>"><span>Tails</span></a>
</div>

<TMPL_VAR TITLE>
<TMPL_VAR CTIME>
<TMPL_VAR CONTENT>
