<!DOCTYPE html>
<TMPL_IF HTML_LANG_CODE>
<html lang="<TMPL_VAR HTML_LANG_CODE>" dir="<TMPL_VAR HTML_LANG_DIR>" xmlns="http://www.w3.org/1999/xhtml">
<TMPL_ELSE>
<html xmlns="http://www.w3.org/1999/xhtml">
</TMPL_IF>
<head>
<TMPL_IF HTML5><meta charset="utf-8" /><TMPL_ELSE><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></TMPL_IF>
<title>Tails - <TMPL_VAR TITLE></title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<style>
.page {
	max-width: 678px;
	margin: auto;
}
span.title {
	color: #aa0000;
	padding-top: 160px;
	margin-top: 0;
	margin-bottom: 1em;
	border-left: 0px none;
	text-align: center;
}

#content {
	margin-top: 1.5em;
	padding-bottom: 0.5em;
}

ol li {
	margin-bottom: 1em;
}
</style>

<TMPL_IF HTML_LANG_CODE>
<body class="<TMPL_VAR HTML_LANG_CODE>">
<TMPL_ELSE>
<body>
</TMPL_IF>

<div class="page">

<span class="title">
<h1><TMPL_VAR TITLE></h1>
</span>

<div id="content">
<TMPL_VAR CONTENT>
</body>
</div>

</div>
</html>
