/* Required, do not remove */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#torbirdy-jondo-selection,
#torbirdy-whonix-selection,
#torbirdy-tor-selection,
#torbirdy-tor-selection + menuseparator,

#torbirdy-anon-settings,
#torbirdy-anonservice,

/* Hide "Chat account" on Thunderbird's start-up page */
#CreateAccountChat

{ display: none; }
