/* Required, do not remove */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide Firefox Sync options. Sync hasn't been audited by the
   Tor Browser developers yet (Tor bug #10368), and it doesn't seem to
   work any way (Tor bug #13279). Weak passwords would be a pretty
   serious issue too. */
#BrowserPreferences radio[pane="paneSync"],
#sync-button,
#sync-menu-button,
#sync-setup,
#sync-setup-appmenu,
#sync-status-button,
#sync-syncnowitem-appmenu,
#wrapper-sync-button,

/* Hide the Tools -> Apps link to the Firefox Marketplace. It doesn't
   seem to work in the Tor Browser, and may have privacy issues. */
#menu_openApps,

/* Hide the "Share this page" button in the Tool bar, which encourages
   the use of social (= tracking) networks. Note that this one likely
   will be removed upstream in the final Tor Browser 5.0 release. */
#social-share-button,

/* Hide HTTPS Everywhere button in the toolbar */
#https-everywhere-button { display: none; }

/* Hide the uBlock sidebar, that's opened on first launch
   References:
    - https://github.com/gorhill/uBlock/releases/tag/1.16.6
    - https://github.com/uBlock-LLC/uBlock/issues/1764 */
vbox#sidebar-box[sidebarcommand="_UUID~ADDON_-sidebar-action"] {
   display: none !important;
}
vbox#sidebar-box[sidebarcommand="ublock0_raymondhill_net-sidebar-action"] {
   display: none !important;
}
