[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Report a Bug
Type=Application
Terminal=false
Exec=torsocks whisperback
Icon=/usr/share/pixmaps/whisperback.svg
Name[fr_FR]=Faire un rapport de Bug
Name[de_DE]=Einen Bug melden
Name[sv]=Bugg-anmälan
