[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Report an error
Type=Application
Terminal=false
Exec=/usr/local/bin/tails-documentation support/troubleshooting
Icon=/usr/share/pixmaps/whisperback.svg
