[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TAILS documentation
Type=Application
Terminal=false
Exec=/usr/local/bin/amnesia-documentation
Icon=/usr/share/icons/gnome/scalable/categories/system-help.svg
Name[fr_FR]=Documentation de TAILS
Name[de_DE]=Dokumentation TAILS
