/*Whole window organization {{{ */
#box_main_container_stack {
    margin: 18px;
}

#main_img_side {
    margin: 18px;
}
/*Whole window organization }}} */

/* Generic {{{ */

/* "Next" button. Space it a bit from step content */
.suggested-action-box { margin-top: 18px; }

/* Sometimes the step has a title. Let's put some space between this and the rest */
.step-title { margin-bottom: 18px; }

/* Generic }}} */

/* Bridge step {{{ */
#step_bridge_label_explain_hide { margin-left: 1.5em; }
/* Bridge step }}} */

/* Progress step {{{ */
#step_progress_btn_tbb { margin-bottom: 2em; }
#step_progress_btn_tbb label {
    margin: 1em;
    font-size: 120%;
}
.step-box {
    margin: 0;
}
#step_progress_box_torconnect { padding-top: 2em; }
.progress-box { font-size: 90%; }

/* Progress step }}} */

/* Error step {{{ */
.step-error-section-title { margin-left: 0.8em; }
.step-error-section-description { margin-left: 1.5em; }
/* Error step }}} */
