/* LAYOUT */

.banner, .page {
  box-sizing:content-box;
}

.parentlinks {
  display: none;
}

.sidebar {
  display: none;
}

#footer {
  display: none;
}


/* CONTENT */

body {
  font-family: "DejaVu Sans", "Verdana", sans-serif;
  color: #000;
}
