body {
    font-family: "DejaVu Sans","Verdana",sans-serif;
    color: #000;
}


.banner, .page {
	box-sizing:content-box;
}

.sidebar {
	display: none;
}

.parentlinks {
	display: none;
}


#content{
	padding-top:20px;
	width:70%;
	margin-left: 30%;
}

.title {
	display: none !important;
}



#footer {
	display: none;
}





