/* LAYOUT */

.banner, .page {
  box-sizing: content-box;
}

.banner {
  height: 70px;
}

#tails-installation-assistant {
  position: absolute;
  top: -20px;
  left: 380px;
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", "sans-serif";
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-transform: capitalize;
}

.parentlinks {
  display: none;
}

.sidebar {
  display: none;
}

#footer {
  display: none;
}

#searchform {
  display: none;
}

.pageheader .actions {
  display: none;
}

.pageheader #otherlanguages {
  top: -35px;
  right: 5px;
}

span.title {
  display: none;
}


/* CONTENT */

body {
  font-family: "DejaVu Sans","Verdana",sans-serif;
  color: #000;
  margin-bottom: 100px;
}

span.title {
  margin-top: 0px;
}

#content {
  padding-top: 20px;
}

#pagebody #content a {
  color: black !important;
  border-bottom: 0px !important;
}

.also {
  margin-top: 20px;
  font-size: 17px;
}

.also div {
  padding-top: 30px;
  border-top: 2px solid #0A0;
}

#pagebody #content .also small ul li a {
  color: #505050 !important;
  text-decoration: underline !important;
}

#pagebody #content .also small ul li a:hover {
  color: #0A0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", "sans-serif";
}

h1 {
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 50px;
}

h1 strong {
  font-weight: 800;
  box-shadow: 0px -10px #0A0 inset;
}

h3, h4, p, ul {
  margin: 20px;
}

p, ul, ol, h1, h2, h3, h4, h5, h6 {
  max-width: none;
}


p, h3, h4 {
  color: #505050;
}

ul {
  color: black;
}

ul {
  padding-left: 20px;
}


/* markdown add a p at the top of the page */
#content > p {
  margin-top: 0;
}


/* BACK BUTTON */

#pagebody .back {
  border: solid 1px #56347C;
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
}

#pagebody .back:hover {
  border: solid 1px #0A0;
  background: #0A0;
}

#pagebody .back:hover a {
  color: #56347C;
}

#pagebody .back a {
  color: #56347C;
}


/* PANELS */

.panel {
  border-bottom-width: 4px;
  border-color: #56347C;
  margin-top: 30px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.panel-primary > .panel-heading {
  background: white;
  color: black;
  text-align: center;
  border: none;
  transition: 0.1s;
}

.panel-primary > .panel-heading:hover {
  background: #56347C;
  color: white;
}

.panel-primary > .panel-heading:active {
  color: black;
  background: white;
}

.panel-title {
  font-weight: bold;
  padding: 15px;
}

.panel-footer {
  background: none;
  border-color: #0A0;
  color: #646464;
}

.remove-first-space {
  margin-left: -0.3em;
}
