.supported-browser,
.outdated-browser,
.unsupported-browser {
  display: none;
}

.no-js {
  display: block;
}

#skip-verification-direct,
#skip-verification-bittorrent,
#next-direct,
#next-bittorrent,
#extension-installed {
  display: none;
}

#content {
  padding-left: 0 !important;
}

.btn {
  color: white !important;
  background: #0a0;
  border: none;
}

span.step-number {
  display: inline-block;
  width: 30px;
}

.indent {
  margin-left: 30px !important;
}
