/* Display No JS version by default */
.supported-browser,
.outdated-browser,
.unsupported-browser {
  display: none;
}

.no-js {
  display: initial;
}

#skip-verification-direct,
#verification,
#update-extension,
#extension-updated,
#skip-download-direct,
#skip-download-bittorrent {
  display: none;
}

#content {
  padding-left: 0 !important;
}

.btn {
  color: white !important;
  background: #0a0;
  border: none;
}

span.step-number {
  display: inline-block;
  width: 30px;
}

.indent {
  margin-left: 30px !important;
}

/* FLOATING TOGGLEABLE FOR 'WHY?' CONTEXTUAL HELP */

/* Hide toggleable by default so they don't appear when there is no JavaScript. */
.floating-toggleable-link {
  display: none;
}

.floating-toggleable div.toggleable {
  display: none;
  background: white !important;
  border: 1px solid #0A0 !important;
  -webkit-box-shadow: 5px 5px #0A0;
  box-shadow: 5px 5px #0A0;
  padding: 15px 30px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  position: absolute !important;
  text-align: left;
  font-size: 13px;
  z-index: 1;
}

/* X for closing the toggle */
.floating-toggleable a.toggle {
  border: none !important;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 5px;
}

/* Custom positioning for specific toggles */

#why-verify div.toggleable {
  width: 40em;
}
