.no-js { display: inline-block !important; }

.supported-browser,
.no-js {
  display: none;
}

#content {
  padding-left: 0 !important;
}

.btn {
  color: white !important;
  background: #0a0;
  border: none;
}

span.step-number {
  display: inline-block;
  width: 30px;
}

.indent {
  margin-left: 30px !important;
}
