@import url("debian.css");
@import url("usb.css");
span.debian-usb, a.debian-usb {
  display: inline;
}
div.debian-usb, img.debian-usb, p.debian-usb {
  display: block;
}
li.debian-usb {
  display: list-item;
}

h1:before {
  content: counter(step)'/6.';
}
