@import url("usb.css");

span.debian, a.debian {
  display: inline;
}

div.debian, img.debian, p.debian, h1.debian {
  display: block;
}

li.debian {
  display: list-item;
}

h1:before {
  content: counter(step)'/6.';
}
