@import url("usb.css");

span.expert, a.expert {
  display: inline;
}

div.expert, img.expert, p.expert, h1.expert {
  display: block;
}


li.expert {
  display: list-item;
}

#content {
  padding-left: 20px;
}

.step-image {
  display: none;
}

pre, p.pre {
  max-width: 60em;
  width: 60em;
}

div.note p.pre {
  width: 32em;
}

h1:before, span.next-counter:before {
  content: counter(step)'/7';
}

h1 {
  margin-left: 30px;
}
