/* Hide all scenario-dependent bits by default. */

.standalone,
.clone, .usb, .dvd, .vm, .download-only-img, .download-only-iso,
.install-clone, .mac-clone,
.windows, .linux, .mac, .expert,
.upgrade, .upgrade-clone, .upgrade-tails,
.upgrade-os, .upgrade-windows, .upgrade-mac, .upgrade-linux {
  display: none;
}
