@import url("clone.css");

span.install-clone, a.install-clone {
  display: inline;
}

div.install-clone, img.install-clone, p.install-clone, h1.install-clone {
  display: block;
}

li.install-clone {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/6';
}
