@import url("clone.css");

span.mac-clone, a.mac-clone {
  display: inline;
}

div.mac-clone, img.mac-clone, p.mac-clone, h1.mac-clone {
  display: block;
}

li.mac-clone {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/6';
}
