@import url("mac.css");
@import url("usb.css");

span.mac-usb, a.mac-usb {
  display: inline;
}

div.mac-usb, img.mac-usb, p.mac-usb, h1.mac-usb {
  display: block;
}

li.mac-usb {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/5';
}
