@import url("mac.css");
/* We're not importing "dvd.css" as it applies to /install/dvd only. */

span.mac-dvd, a.mac-dvd {
  display: inline;
}

div.mac-dvd, img.mac-dvd, p.mac-dvd, h1.mac-dvd {
  display: block;
}

li.mac-dvd {
  display: list-item;
}

h1:before {
  content: counter(step)'/7.';
}
