@import url("usb.css");

span.mac, a.mac {
  display: inline;
}

div.mac, img.mac, p.mac, h1.mac {
  display: block;
}

li.mac {
  display: list-item;
}

h1.step:before, span.next-counter:before {
  content: counter(step)'/5';
}
