h1 {
  margin-bottom: 40px;
}

h1:before {
  content: '' !important;
}

h3 {
  margin-bottom: 10px;
}

#needs h4 {
  font-size: 1em;
  margin: 0px;
  color: black;
}

#needs h3, #steps h3 {
  display: block;
}

h4 small{
  font-size: 60%;
}

#steps h4 {
  margin-left: 75px;
}

.thumbnail {
  text-align: center;
  border: none;
  padding: 0px;
}

.thumbnail .caption {
  padding: 0px;
}

#steps .thumbnail {
  position: relative;
  margin-bottom: 0px;
}

#steps .caption {
  position: absolute;
  top: 90px;
  width: 100%;
}

#steps .caption h5 {
  text-align: center;
}

.you_need img {
  width: 100px;
}

.thumbnail img {
}

.step img {
  outline: 4px solid white;
  outline-offset: -2px;
  width: 130%;
}

#steps .thumbnail img {
  width: 110%;
}

#steps ol {
  /*border: 1px solid #56347C;*/
  /*padding-left: 70px;*/
  /*margin-left: 50px !important;*/
  /*box-shadow: 10px 10px #56347C;*/
  /*border-radius: 4px;*/
}

#steps ol {
  list-style-type: none;
  margin-left: 70px;
}

#steps h4 {
  padding: 10px;
  margin: 0px;
  font-size: 1.7em;
  color: black;
}

.panel {
  width: 70%;
  float: none;
  margin: 0px;
  margin: auto;
  margin-top: 30px;
}

#overview {
  text-align: center;
  position: absolute;
  top: -20px;
  right: 0;
  display: none;
}

#overview h2, #needs h3, #steps h3 {
  text-align: center;
  padding: 10px;
  background: #0A0;
  color: white;
  display: inline-block;
  font-size: 20px;
}

#needs h3, #steps h3 {
  font-size: 15px;
  /*border: 1px solid darkgrey ;*/
  color: darkgrey;
  background: white;
/*  position: absolute; */
  /*transform: rotate(-11deg);*/
/*  left: 48px;
  top: -22px;
  z-index: 100;
*/
}

#needs h3 {

}
