#needs h4 {
  font-size: 1em;
  margin: 0px;
  color: black;
}

.thumbnail {
  text-align: center;
  border: none;
  padding: 0px;
}

.thumbnail .caption {
  padding: 0px;
}

#steps .thumbnail {
  position: relative;
  margin-bottom: 0px;
}

#needs .thumbnail img {
  width: 100px;
}

#steps .thumbnail img {
  width: 150px;
}

#needs h3, #steps h3 {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 0;
}
