h2 {
  margin-top: 50px;
}

h3 {
  margin-left: 0px;
  margin-right: 0px;
}

p {
  max-width: 45em;
}

ol.mac_install {
  list-style-type: none;
  max-width: none;
}

ol.mac_install {
  counter-reset: counter;
}

ol.mac_install li:before {
  content: counter(counter, upper-alpha);
  counter-increment: counter;
  box-shadow: 0px -15px #0A0 inset;
  font-size: 50px;
  left: -50px;
  top: 40px;
  position: relative;
}

.panel-title {
  padding: 5px;
}
