/* ready for specific styles */

ol.mac_install {
	list-style-type: upper-alpha;
	max-width: none;
}

ol.mac_install li {
	margin-top:50px;
	margin-bottom:50px;
}



.install_option {
	margin:10px;
	padding:10px;
	background: lightsteelblue;
	min-height: 100px;
}
