@import url("hide.css");

span.standalone, a.standalone {
  display: inline;
}

div.standalone, img.standalone, p.standalone, h1.standalone, h2.standalone {
  display: block;
}

li.standalone {
  display: list-item;
}
