.sidebar {
  display: none;
}

#content {
  padding-left: 250px;
}

.step-image {
  position: absolute;
  left: 2.5em;
  height: 200px;
  width: 200px;
}

.step-image img {
  position: relative;
}

.state-image {
  text-align: center;
}

/* Hide all scenario-dependent bits by default. */

.clone, .usb, .dvd,
.windows, .windows-clone, .windows-usb,
.mac, .mac-usb, .mac-dvd, .mac-clone,
.debian, .debian-clone, .debian-usb,
.expert, .expert-usb,
.linux, .linux-clone, .linux-usb,
.upgrade, .upgrade-clone {
  display: none;
}
