#content {
  padding-left: 225px;
}

/* Headings */

h1 {
  color: #56347C;
  font-weight: 400;
  margin-left: -225px;
  margin-top: 50px;
  margin-bottom: 25px;
}

body {
  counter-reset: step;
}

h1, div.hidden-step-1, span.next-counter {
  counter-increment: step;
}

h1:before {
  position: relative;
  font-size: 0.75em;
  display: inline-block;
  width: 60px;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
}

h3 {
  font-size: 15px;
}

/* Paragraphs */

p {
  color: black;
}

p.start {
  min-height: 200px;
}

pre, p.pre {
  width: 48em;
  max-width: 48em;
}

/* Step image */

.step-image {
  position: absolute;
  left: 2em;
  width: 200px;
}

.step-image img {
  position: relative;
  border: 1px solid black;
  position: relative;
}

/* QR code */

img.qrcode {
  float: right;
  margin-top: -1em;
}

/* Trophy */

div.trophy {
  border: 5px solid #56347C;
  font-size: 17px;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 20px;
  position: relative;
  background-color: white;
}

div.trophy p {
  color: black;
  font-family: "Source Sans Pro Regular", "DejaVu Sans", "Verdana", "sans-serif";
  font-weight: 200;
}

div.trophy img {
  margin: 10px;
}

.state-image {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 1em;
}

/* Recommendations */

#recommendations {
  padding: 20px;
}

#recommendations p:first-child {
  padding-left: 66px;
}

#recommendations .row p {
  background: #9f73d2;
  padding: 10px;
  padding-left: 66px;
}

#recommendations .row p a {
  color: black;
  text-decoration: underline;
  border: none;
}

#recommendations img.float-left {
  float: left;
}

/* Toggleable */

div.toggleable .hide {
  display: block !important;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  #content {
    padding-left: 10px;
  }

  .step-image {
    position: relative;
    width: 200px;
    margin: 2em 0;
  }

  h1 {
    margin-left: 30px;
  }

  div.trophy {
    background-position: center 0.5em;
    padding: 60px 1em 1em;
  }

  #recommendations h3 {
    font-size: 20px;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

@media print {
  /* from http://www.alsacreations.com/astuce/lire/1160-une-feuille-de-styles-de-base-pour-le-media-print.html */

  body {
    width: auto !important;
    margin: auto !important;
    font-size: 12pt;
    background-color: #fff !important;
    color: #000 !important;
  }

  p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
    color: #000 !important;
  }

  .print {
    display: block;
  }

  a {
    color: #000 !important;
  }

  /* Tails specifics */

  #content {
    padding-left: 0px;
  }

  .step-image {
    position: relative;
    width: 200px;
    margin: 2em 0;
  }

  h1 {
    font-size: 25px;
    margin-left: 50px !important;
  }

  img {
    page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    page-break-inside: avoid; /* or 'auto' */
  }

  .toggleable {
    display: block !important;
    position: relative !important;
    width: 90% !important;
    margin: 50px !important;
    padding: 20px !important;
    border: 3px dashed  darkgrey !important;
    font-size: 0.9em;
  }

}
