@import url("upgrade-os.css");

span.upgrade-windows, a.upgrade-windows {
  display: inline;
}

div.upgrade-windows, img.upgrade-windows, p.upgrade-windows, h1.upgrade-windows {
  display: block;
}

li.upgrade-windows {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/5';
}
