@import url("upgrade.css");

span.upgrade-os, a.upgrade-os {
  display: inline;
}

div.upgrade-os, img.upgrade-os, p.upgrade-os, h1.upgrade-os {
  display: block;
}

li.upgrade-os {
  display: list-item;
}
