@import url("upgrade.css");

span.upgrade-tails, a.upgrade-tails {
  display: inline;
}

div.upgrade-tails, img.upgrade-tails, p.upgrade-tails, h1.upgrade-tails {
  display: block;
}

li.upgrade-tails {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/5';
}
