@import url("upgrade-os.css");

span.upgrade-mac, a.upgrade-mac {
  display: inline;
}

div.upgrade-mac, img.upgrade-mac, p.upgrade-mac, h1.upgrade-mac {
  display: block;
}

li.upgrade-mac {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/5';
}
