@import url("upgrade.css");
@import url("clone.css");

span.upgrade-clone, a.upgrade-clone {
  display: inline;
}

div.upgrade-clone, img.upgrade-clone, p.upgrade-clone, h1.upgrade-clone {
  display: block;
}

li.upgrade-clone {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/4';
}
