@import url("upgrade-os.css");

span.upgrade-linux, a.upgrade-linux {
  display: inline;
}

div.upgrade-linux, img.upgrade-linux, p.upgrade-linux, h1.upgrade-linux {
  display: block;
}

li.upgrade-linux {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/5';
}
