@import url("upgrade.css");
@import url("clone.css");
span.upgrade-clone, a.upgrade-clone {
  display: inline;
}
div.upgrade-clone, img.upgrade-clone, p.upgrade-clone {
  display: block;
}
li.upgrade-clone {
  display: list-item;
}
