@import url("windows.css");
@import url("usb.css");
span.windows-usb, a.windows-usb {
  display: inline;
}
div.windows-usb, img.windows-usb, p.windows-usb {
  display: block;
}
li.windows-usb {
  display: list-item;
}

h1:before {
  content: counter(step)'/7.';
}
