@import url("usb.css");

span.windows, a.windows {
  display: inline;
}

div.windows, img.windows, p.windows, h1.windows {
  display: block;
}

li.windows {
  display: list-item;
}

h1:before, span.next-counter:before {
  content: counter(step)'/7';
}

img.red-border {
  border: 3px solid red;
}
