[Unit]
Description=Add GTK bookmarks to some directories
Documentation=https://tails.boum.org/contribute/design/application_isolation/

[Service]
Type=oneshot
ExecStart=/usr/local/lib/add-GNOME-bookmarks
RemainAfterExit=yes

[Install]
WantedBy=basic.target
