[Unit]
Description=Warn the user if Tails is running inside a virtual machine
Documentation=https://tails.boum.org/contribute/design/virtualization_support/

[Service]
Type=oneshot
ExecStart=/usr/local/lib/tails-virt-notify-user
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
