[Unit]
Description=Add GTK bookmarks to some directories
Documentation=https://tails.boum.org/contribute/design/application_isolation/
ConditionUser=1000
After=tails-create-tor-browser-directories.service gvfs-metadata.service
Requires=tails-create-tor-browser-directories.service gvfs-metadata.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/add-GNOME-bookmarks
RemainAfterExit=yes

[Install]
WantedBy=gnome-early-initialization.target
