[Unit]
Description=Create the Tor Browser amnesiac and persistent directories
Documentation=https://tails.boum.org/contribute/design/application_isolation/
ConditionUser=1000

[Service]
Type=oneshot
ExecStart=/usr/local/lib/create-tor-browser-directories
RemainAfterExit=yes

[Install]
WantedBy=basic.target
