[Unit]
Description=Terminate the GDM session to free the corresponding memory
Documentation=https://tails.boum.org/contribute/design/
ConditionUser=1000

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo /usr/local/lib/tails-kill-gdm-session
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
