[Unit]
Description=Warn the user if unmigrated or insecure persistence settings are found
Documentation=https://tails.boum.org/contribute/design/persistence/

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tails-warn-about-disabled-persistence
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
