[Unit]
Description=Reset busy cursor set by tails-greeter
Documentation=https://tails.boum.org/contribute/design/

[Service]
Type=oneshot
ExecStart=/usr/share/tails-greeter/set-cursor.py
RemainAfterExit=yes

[Install]
WantedBy=desktop.target

