[Unit]
Description=Check available Tails upgrades
Documentation=https://tails.boum.org/contribute/design/incremental_upgrades/
After=tails-wait-until-tor-has-bootstrapped.service

[Service]
ExecStart=/usr/local/bin/tails-upgrade-frontend-wrapper
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
