[Unit]
Description=Check Tails known, unfixed security issues
Documentation=https://tails.boum.org/contribute/design/

[Service]
ExecStart=/usr/local/bin/tails-security-check-wrapper
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
