[Unit]
Description=Warn the user that I2P will be removed
ConditionKernelCommandLine=i2p

[Service]
Type=oneshot
ExecStart=/usr/local/lib/tails-i2p-removal-notify-user
RemainAfterExit=yes

[Install]
WantedBy=desktop.target
