[Unit]
Description=Tor Connection Assistant
Requires=tails-ibus-proxy-netns@torlaunch.service
After=tails-ibus-proxy-netns@torlaunch.service
Requires=tails-a11y-proxy-netns@torlaunch.service
After=tails-a11y-proxy-netns@torlaunch.service
ConditionUser=1000

[Service]
Type=simple
ExecStart=/usr/local/bin/tca
Restart=no

[Install]
WantedBy=desktop.target
