Source: tails
Section: web
Priority: optional
Build-Depends: debhelper (>= 7.0.15)
Build-Depends-Indep: dpkg-dev (>= 1.14.25)
Maintainer: T(A)ILS developers <amnesia@boum.org>
Standards-Version: 3.8.1
Homepage: https://amnesia.boum.org/
Vcs-Browser: http://git.immerda.ch/?p=amnesia.git
Vcs-Git: git://git.immerda.ch/amnesia.git

Package: tails
Architecture: all
Depends: ${misc:Depends}, live-build (>= 2.0~a21-1),
 syslinux (>= 2:4.01+dfsg-1), dpkg-dev, ikiwiki, po4a, gettext
Description: a Tor-ified, amnesic Live System
 The (Amnesic) Incognito Live System is aimed at preserving its users' privacy:
   - any outgoing connection to the Internet is forced to go through
     the Tor network
   - no trace is left on local storage devices unless explicitely asked
 .
 This package provides the source and tools that are necessary to build
 such a Live System using Debian Live.
