Source: amnesia
Section: web
Priority: optional
Build-Depends: debhelper (>= 7.0.15)
Build-Depends-Indep: dpkg-dev (>= 1.14.25)
Maintainer: Amnesia <amnesia@boum.org>
Standards-Version: 3.8.1
Homepage: https://amnesia.boum.org/

Package: amnesia
Architecture: all
Depends: ${misc:Depends}, live-helper (>= 1.0.5-1), dpkg-dev
Description: a Tor-ified, amnesic Live System
 amnesia is a Live System aimed at preserving its users' privacy:
   - any outgoing connection to the Internet is forced to go through
     the Tor network
   - no trace is left on local storage devices unless explicitely asked
 .
 This package provides the source and tools that are necessary to build
 such Live System using Debian Live.
