Source: tails
Section: web
Priority: optional
Build-Depends: debhelper (>= 7.0.15)
Build-Depends-Indep: dpkg-dev (>= 1.14.25)
Maintainer: Tails developers <tails@boum.org>
Standards-Version: 3.8.1
Homepage: https://tails.boum.org/
Vcs-Browser: https://git-tails.immerda.ch/tails
Vcs-Git: git://git.tails.boum.org/tails

Package: tails
Architecture: all
Depends: ${misc:Depends},
 dpkg-dev,
 eatmydata,
 gettext,
 ikiwiki (>= 3.20110431),
 libyaml-perl,
 libyaml-yaml-perl,
 live-build (>= 2.0.3),
 perlmagick,
 po4a,
 syslinux (>= 2:4.01+dfsg-1),
 time,
 whois
Conflicts: 
 libyaml-libyaml-perl
Description: a Tor-ified, amnesic Live System
 The Amnesic Incognito Live System is aimed at preserving its users' privacy:
   - any outgoing connection to the Internet is forced to go through
     the Tor network
   - no trace is left on local storage devices unless explicitly asked
 .
 This package provides the source and tools that are necessary to build
 such a Live System using Debian Live.
