[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Amnesia documentation
Type=Application
Terminal=false
Exec=iceweasel file:///live/image/doc/amnesia/wiki/index.html
Icon=/usr/share/icons/gnome/scalable/categories/system-help.svg
Name[fr_FR]=Documentation d'Amnesia
