[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Report a Bug
Type=Application
Terminal=false
Exec=whisperback
Icon=/usr/share/icons/pixmaps/whisperback.svg
Name[fr_FR]=Faire un rapport de Bug
