body {
  color: black;
}

.sidebar {
  display: none;
}

#personality p {
  position: relative;
  text-align: center;
}

#personality span:first-child {
  position: absolute;
  left: 0;
  text-align: left;
}

#personality span:last-child {
  position: absolute;
  right: 0;
  text-align: right;
}

div.progress {
  width: 100%;
}

.progress-bar {
  background: green;
}
