body {
  color: black;
}

.card {
  border: 1px solid #ccc;
  margin: 1em;
}

#pagebody .card {
  color: black !important;
}

h2.name {
  font-size: 2.8em;
  margin-bottom: 0;
  color: #53b351;
  text-decoration: underline;
}

.tag {
  font-size: 2em;
  font-weight: bold;
}

#quote {
  font-style: italic;
  font-size: 1.4em;
  margin: 1em 0;
}

#quote:before {
  content: '« ';
}
 
#quote:after {
  content: ' »';
}
