body {
  color: black;
}

.sidebar {
  display: none;
}

span.title {
  margin-bottom: 0em;
}

#tag {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

#bio {
  font-size: 1.4em;
  font-weight: bold;
}

#quote {
  font-style: italic;
  font-size: 1.4em;
  margin: 1em 0;
}

#quote:before {
  content: '« ';
}
 
#quote:after {
  content: ' »';
}
 
#primary {
  font-size: 1.2em;
  font-weight: bold;
}

#technology, #threats, #objectives {
  font-size: 1.2em;
}

li {
  margin: 0.2em 0;
}
