[Desktop Entry]
Categories=Network;
Comment=Anonymous overlay network 
Exec=sudo /etc/init.d/i2p restart; sleep 30; iceweasel http://127.0.0.1:7657/
Icon=/usr/lib/i2p/eepsite/docroot/favicon.ico
Name=i2p
GenericName=Anonymous overlay network
Terminal=false
Type=Application
