[Desktop Entry]
Type=Application
Name=Tails Greeter
Exec=/usr/local/lib/tails-greeter
X-GNOME-Provides=tails-greeter
NoDisplay=true
StartupNotify=false
