[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=sudo -n reboot
Name=Reboot
Comment=Immediately reboot computer
Icon=gtk-refresh
Categories=Application;System;Settings
Name[fr]=Redémarrer
Comment[fr]=Redémarrer immédiatement l'ordinateur
Name[de]=Neustarten
Comment[de]=Sofortiges Neustarten des Computers
Name[sv]=Starta om
Comment[sv]=Starta om datorn omedelbart
