[Desktop Entry]
Name=tails-activate-winxp-theme
GenericName=Activates Windows XP theme
Comment=Activates Windows XP theme
Exec=/usr/local/bin/tails-activate-winxp-theme
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-activate-winxp-theme;
