[Desktop Entry]
Type=Application
Name=Tails Upgrader
Comment=Make sure Tails is up-to-date
Icon=system-software-update.png
Exec=tails-upgrade-frontend-wrapper
Terminal=false
Categories=System;Tails;
StartupNotify=false
