[Desktop Entry]
Name=tails-activate-win8-theme
GenericName=Activates Windows 8 theme
Comment=Activates Windows 8 theme
Exec=/usr/local/bin/tails-activate-win8-theme
Terminal=false
Type=Application
Categories=GNOME;X-GNOME-PersonalSettings;
NoDisplay=true
MimeType=application/x-tails-activate-win8-theme;
