[Desktop Entry]
Name=Tor Browser
Comment=Anonymous Web Browser
GenericName=Anonymous Web Browser
Categories=Network;
Icon=/usr/local/lib/tor-browser/browser/icons/mozicon128.png
Terminal=false
Type=Application
Exec=/usr/local/bin/tor-browser
