[Desktop Entry]
Encoding=UTF-8
Name=Unsafe Browser
Comment=Browse the World Wide Web without anonymity
GenericName=Unsafe Web Browser
X-GNOME-FullName=Unsafe Web Browser
Exec=sudo unsafe-browser
Terminal=false
Type=Application
Icon=/usr/share/icons/unsafe-browser.svg
Categories=Network;WebBrowser;
StartupNotify=true
Name[fr]=Navigateur Non-sécurisé
Comment[fr]=Naviguer sur le Web sans anonymisation
GenericName[fr]=Navigateur Web Non-sécurisé
X-GNOME-FullName[fr]=Navigateur Web Non-sécurisé
Name[de]=Unsicherer Internet Browser
Comment[de]=Surfen ohne Anonymität
GenericName[de]=Unsicherer Internet Browser
X-GNOME-FullName[de]=Unsicherer Internet Browser
Name[sv]=Osäker webbläsare
Comment[sv]=Surfa på nätet utan anonymitet
GenericName[sv]=Osäker webbläsare
X-GNOME-FullName[sv]=Osäker webbläsare
