[Desktop Entry]
Encoding=UTF-8
Name=Unsafe Browser
Comment=Browse the World Wide Web without anonymity
GenericName=Unsafe Web Browser
X-GNOME-FullName=Unsafe Web Browser
Exec=sudo unsafe-browser
Terminal=false
Type=Application
Icon=/usr/share/icons/unsafe-browser.svg
Categories=Network;WebBrowser;
StartupNotify=true
