[Desktop Entry]
Type=Application
Name=VeraCrypt Mounter
Comment=Mount VeraCrypt encrypted file containers and devices
Icon=veracrypt-mounter.png
Exec=veracrypt-mounter
Terminal=false
Categories=Encryption;Encryption Tools;Utility;
Keywords=VeraCrypt;TrueCrypt;Encryption;Volume;Container;Device;Mount;Unlock;Decrypt
