# We need to generate the fontconfig cache.
# For a deterministic build we do that at boot time.

[Unit]
Description=Generate fontconfig caches
After=local-fs.target systemd-tmpfiles-setup.service
Before=systemd-user-sessions.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/dpkg-reconfigure fontconfig
RemainAfterExit=yes
CapabilityBoundingSet=
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target
