[Unit]
Description=Set proper default state on wireless devices
Documentation=https://tails.boum.org/contribute/design/

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/tails-set-wireless-devices-state

[Install]
WantedBy=multi-user.target
