[Unit]
Description=Detect restricted networks that may block spoofed MAC addresses

[Service]
Type=simple
ExecStart=/usr/local/lib/tails-restricted-network-detector-wrapper
