[Unit]
Description=Install Additional Software-Packages
Documentation=https://tails.boum.org/contribute/design/

[Service]
Type=oneshot
ConditionFileNotEmpty=/live/persistence/TailsData_unlocked/live-additional-software.conf
ExecStart=/usr/local/sbin/tails-additional-software install
RemainAfterExit=yes
TimeoutStartSec=0
# XXX: add hardening
#CapabilityBoundingSet=
#PrivateDevices=yes
#PrivateTmp=yes
#ProtectHome=yes
#ProtectSystem=full
