[Unit]
Description=Set proper default state on wireless devices

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/tails-set-wireless-devices-state

[Install]
WantedBy=multi-user.target
