[Unit]
Description=Detect restricted networks that may block spoofed MAC addresses
Documentation=https://tails.boum.org/contribute/design/MAC_address/

[Service]
Type=simple
EnvironmentFile=/var/lib/gdm3/tails.physical_security
ExecStartPre=/bin/sh -c '[ "${TAILS_MACSPOOF_ENABLED}" = true ]'
ExecStart=/bin/sh -c 'journalctl                                          \
                          --unit=NetworkManager.service                   \
                          --output=json-pretty --follow                   \
                      | jq                                                \
                          --monochrome-output --unbuffered --raw-output   \
                          .MESSAGE                                        \
                      | /usr/local/sbin/tails-restricted-network-detector'
CapabilityBoundingSet=~CAP_SYS_ADMIN
PrivateDevices=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
