[Unit]
Description=Reconfigure memlockd depending on running kernel
Before=memlockd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/tails-reconfigure-memlockd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
