[Unit]
Description=Detect if we are running in a virtual machine

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/tails-detect-virtualization
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
