[Unit]
Description=Wipe memory on live media removal
After=memlockd.service tails-reconfigure-kexec.service tails-reconfigure-memlockd.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/udev-watchdog-wrapper

[Install]
WantedBy=multi-user.target
