[Unit]
Description=Install Additional Software Packages
Documentation=https://tails.boum.org/contribute/design/persistence/
ConditionFileNotEmpty=/live/persistence/TailsData_unlocked/live-additional-software.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/tails-additional-software install
ExecStartPost=install -m 0644 -D /dev/null /run/live-additional-software/installed
TimeoutStartSec=0
# XXX: add hardening
#CapabilityBoundingSet=
#PrivateDevices=yes
#PrivateTmp=yes
#ProtectHome=yes
#ProtectSystem=full
