# This allows systemd-shutdown to execute /run/initramfs/shutdown.
# XXX:Bullseye: if https://github.com/systemd/systemd/pull/9429 is merged,
# we can remove this custom code.

[Unit]
Description=Allow executing binaries in /run
Documentation=https://tails.boum.org/contribute/design/memory_erasure/
DefaultDependencies=no
After=shutdown.target umount.target
Requires=shutdown.target umount.target
Before=final.target

[Service]
ExecStart=/bin/mount -o remount,exec /run

[Install]
WantedBy=final.target
