[Unit]
Description=Detect restricted networks that may block spoofed MAC addresses
Documentation=https://tails.boum.org/contribute/design/MAC_address/

[Service]
Type=simple
ExecStart=/bin/sh -c 'journalctl                                          \
                          --unit=NetworkManager.service                   \
                          --output=json-pretty --follow                   \
                      | jq                                                \
                          --monochrome-output --unbuffered --raw-output   \
                          .MESSAGE                                        \
                      | /usr/local/sbin/tails-restricted-network-detector'
