[Unit]
Description=Reconfigure kexec depending on running kernel

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/tails-reconfigure-kexec
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
