[Unit]
Description=Guide the user when GDM fails to start
# GDM normally runs "plymouth --quit" when it fails to start the X server
# (see on_display_status_changed that calls plymouth_quit_without_transition).
# But when this happens we kill -9 GDM in our gdm-x-session wrapper, so it
# might not have time to quit plymouth yet. Therefore we ensure plymouth
# has quit before we start: we run after plymouth-quit.service (which is started
# by gdm.service's default OnFailure=), we have plymouth-quit-wait.service start,
# and we wait for it to complete.
After=plymouth-quit.service
Requires=plymouth-quit-wait.service
After=plymouth-quit-wait.service

[Service]
Type=oneshot
# We use VT5 that is clean of boot messages and does not get a getty started
# when we switch there, thanks to our custom NAutoVTs=4 logind.conf setting
#
# There are queued udev events when we run plymouthd so on Stretch, so
# watch_for_coldplug_completion will set up a watcher and return before
# there's any place where plymouthd can create a seat to display its
# splash and messages on. So we tell plymouthd to ignore udev which makes
# it create a fallback seat.
# XXX:Buster: check if plymouth.ignore-udev is still necessary (this code path
# has changed in plymouth 0.9.3)
ExecStart=/bin/sh -c \
    '/sbin/plymouthd --mode=shutdown --tty=tty5 \
        --kernel-command-line="plymouth.ignore-udev $(cat /proc/cmdline)"'
ExecStart=/bin/chvt 5
ExecStart=/bin/plymouth show-splash
ExecStart=/bin/sh -c \
    'MAX_LENGTH=254 ; \
     PREFIX="Error starting GDM with your graphics card: " ; \
     SUFFIX=". Please take note of this error and visit https://tails.boum.org/gdm for troubleshooting." ; \
     MAX_VIDEO_CARD_LENGTH=$(($MAX_LENGTH - $(echo -n "$PREFIX$SUFFIX" | wc -c))) ; \
     VIDEO_CARD=$(lspci -d::0300 -nn | sed -E "s,.* VGA compatible controller \[0300\]:\s*,," | cut -c "1-$MAX_VIDEO_CARD_LENGTH") ; \
     /bin/plymouth display-message --text="$PREFIX$VIDEO_CARD$SUFFIX" \
    '
