[Unit]
Description=Provides privileged functions for TCA
Requires=tca-portal.socket

[Service]
Type=notify
User=root
ExecStart=/usr/local/lib/tca-portal --systemd-socket
