[Unit]
Description=Provides privileged functions for TCA

[Service]
Type=simple
User=root
ExecStart=/usr/local/lib/tca-helper --listen /run/tor-connection-helper.sock

[Install]
WantedBy=desktop.target

