[Unit]
Description=Tor control port filter proxy

[Service]
Type=simple
ExecStart=/usr/local/sbin/tor-controlport-filter
User=tor-controlport-filter
Group=tor-controlport-filter

[Install]
WantedBy=multi-user.target
