[Unit]
Description=Tor control port filter proxy
Documentation=https://tails.boum.org/contribute/design/

[Service]
Type=simple
ExecStart=/usr/local/lib/tor-controlport-filter
User=tor-controlport-filter
Group=tor-controlport-filter
CapabilityBoundingSet=
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target
