{# Jinja2 template used by bin/generate-changelog -#}

tails ({{version}}) unstable; urgency=medium

{% for mr in merge_requests %}
  {% set mr_desc = mr.title + " (" + mr.ref + ")" %}
  * {{ mr_desc|wordwrap(wrapstring="\n    ")}}
    {% if mr.closes_issues %}

    Closes issues:
      {% for issue in mr.closes_issues %}
	{% set issue_desc = issue.title + " (" + issue.ref + ")" %}
      - {{ issue_desc|wordwrap(wrapstring="\n        ") }}
      {% endfor %}
    {% endif %}

    Commits:
      {% for commit_message in mr.commit_messages %}
      - {{ commit_message|wordwrap(wrapstring="\n        ") }}
      {% endfor %}

{% endfor %}
 -- Tails developers <tails@boum.org>  {{date}}
