@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide the Tools -> Apps link to the Firefox Marketplace, and
   Tools -> Add-ons link to the Add-ons manager. We do not want to
   encourage installing such things as it's not part of the supported
   use-cases and may have privacy issues. Also they will not persist a
   restart, which is just confusing. In the I2P Browser, many of these
   features will not work any way. */
#menu_openApps,
#menu_openAddons,          /* traditional menu */
#add-ons-button,           /* new style Firefox menu */
#wrapper-add-ons-button,   /* Customize toolbar */

/* Hide the "Share this page" button in the Tool bar, which encourages
   the use of social (= tracking) networks. These will not work in the
   I2P browser any way.  */
#social-share-button,

/* Hide TorBrowser Health Report and its configuration option */
#appmenu_healthReport,
#dataChoicesTab,
#healthReport

/* Do the actual hiding. */
{display: none !important}
