
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[fr]=gksu
Name[fr]=Redémarrer Tor
Name[en]=Restart Tor
Exec=gksu /etc/init.d/tor restart
Name=Restart Tor
Icon=gksu
