
[Desktop Entry]
Icon[fr_FR]=gksu
Type=Application
Terminal=false
Name[fr_FR]=Redémarrer Tor
Exec=gksu /etc/init.d/tor restart
Name=Redémarrer Tor
Icon=gksu
