Host !192.168.?.? !10.?.?.? !172.16.?.?
ProxyCommand connect-proxy -S 127.0.0.1:9050 %h %p

Host *

Ciphers                 aes256-ctr,aes256-cbc,aes128-ctr,aes128-cbc,3des-cbc
MACs                    hmac-sha1,hmac-md5,hmac-ripemd160

Compression yes
CompressionLevel 9

ForwardX11              no
ForwardX11Trusted       no

# Prevent fingerprinting when username was not specified
User                    root
