Host 192.168.* 10.* 172.16.* 172.17.* 172.18.* 172.19.* 172.20.* 172.21.* 172.22.* 172.23.* 172.24.* 172.25.* 172.26.* 172.27.* 172.28.* 172.29.* 172.30.* 172.31.*
ProxyCommand none

Host *

ProxyCommand /usr/local/bin/connect-socks %h %p

Ciphers                 aes256-ctr,aes256-cbc,aes128-ctr,aes128-cbc,3des-cbc
MACs                    hmac-sha1,hmac-md5,hmac-ripemd160

Compression yes
CompressionLevel 9

ForwardX11              no
ForwardX11Trusted       no

# Prevent fingerprinting when username was not specified
User                    root
