/* Required, do not remove */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide AdBlock-Plus button in the add-on bar */
#abp-toolbarbutton { display: none; }

/* Hide HTTPS Everywhere button in the toolbar */
#https-everywhere-button { display: none; }

/* Hide Greasemonkey button in the toolbar */
#greasemonkey-tbb { display: none; }

/* Hide Foxyproxy button in the toolbar */
#foxyproxy-toolbar-icon { display: none; }
