<UserScriptConfig>
	<Script filename="permanently_enable_html5.user.js" name="Permanently Enable HTML5 on YouTube" namespace="katmagic" description="Permanently enable HTML5 on YouTube." version="" enabled="true" runAt="document-end" basedir="permanently_enable_html5" modified="1320501251000" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" updateAvailable="" lastUpdateCheck="" installurl="https://www.userscripts.org/scripts/source/105433.user.js" updateurl="https://www.userscripts.org/scripts/source/105433.user.js">
		<Include>http://youtube.com/*</Include>
		<Include>http://*.youtube.com/*</Include>
		<Include>https://youtube.com/*</Include>
		<Include>https://*.youtube.com/*</Include>
	</Script>
</UserScriptConfig>
